{
  "branches": [
    "main",
    {
      "name":"beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./scripts/update_version.sh ${nextRelease.version} && make swagger"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "packages/**/*/swagger.json",
          "packages/**/*/VERSION",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "releasedLabels": ["🚀 released"]
      }
    ]
  ]
}
